.g1 a{
   background-color: #0e0f0e;
    color: #fcf9f9;
    text-decoration: none;
    float: left;
    width: 16.66%;
    text-align: center;
    padding: 35px;
    margin: 0px;
  
    border: solid  5px;
    
}
.g1 a:hover{
    background-color: #f4ebeb;
    color: #0e0f0e;
}
.g2 a{
   background-color: #161617;
    color:white;
    text-decoration: none;
    float: left;
    padding: 38px;
    display: block;
    width: 150px;
    border-radius: 0px;
    box-shadow: 5px 16px #847979;
   
    border: solid 5px;
    
}
.g2 a:hover{
    background-color:#fff9f9 ;
    color: #101010;}
.g2 {
    float: left;
    margin: inherit 115px;
    width: 25px;}
#fondo{
    min-width: 100%;
  min-height:100%;
  position: fixed;    
  top: 50%;
  left: 50%;
height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-50%); 
   margin-top:5%;   
  z-index: -1;}
.david{
    width: 50 px;
    height: 25px;
}
    